<div class="container">
  <h1 class="text-primary font-bold">DAFTAR THRESHOLD</h1>
  <div class="card-table bg-white p-10 rounded-xl shadow-md md:mt-5">
    <div class="">
      <p class="text-primary font-bold">Nama Perusahaan:</p>
      <p class="text-primary font-bold">Tahun Pajak:</p>
    </div>

    <div class="relative p-5 mt-5">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead class="text-xs text-gray-700 uppercase">
          <tr class="border-b-2">
            <th scope="col" class="px-3 py-3">No</th>
            <th scope="col" class="px-3 py-3">Faktor Kesebandingan</th>
            <th scope="col" class="px-3 py-3">Kategori</th>
            <th scope="col" class="px-3 py-3">Penjelasan</th>
            <th scope="col" class="px-3 py-3">Transaksi Afiliasi</th>
            <th scope="col" class="px-3 py-3">Transaksi Independent</th>
            <th scope="col" class="px-3 py-3">Keterangan</th>
            <th scope="col" class="px-3 py-3">No Halaman</th>
            <th scope="col" class="px-3 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-gradient-to-r from-white to-blue-50 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td
              scope="row"
              class="px-2 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              1
            </td>
            <td class="px-6 py-4">Silver</td>
            <td class="px-6 py-4">Laptop</td>
            <td class="px-6 py-4">Laptop</td>
            <td class="px-6 py-4">Laptop</td>
            <td class="px-6 py-4">Laptop</td>
            <td class="px-6 py-4">Laptop</td>
            <td class="px-6 py-4">Laptop</td>
            <td class="px-3 py-4 relative">
              <button>
                <i class="fa-solid fa-pen-to-square text-primary"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
