<div class="container">
  <h1 class="text-primary font-bold">DAFTAR THRESHOLD</h1>
  <div class="card-table bg-white p-10 rounded-xl shadow-md md:mt-5">
    <div class="">
      <p class="text-primary">
        <span class="font-bold">Nama Perusahaan :</span>
        {{ dataTpDoc?.nama_perusahaan }}
      </p>
      <p class="text-primary">
        <span class="font-bold">Tahun Pajak :</span>
        {{ dataTpDoc?.tahun_pajak }}
      </p>
      <div class="btn">
        <button
          [routerLink]="['/export-pdf', dataTpDoc?.tp_doc_id]"
          type="button"
          class="mt-5 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-1 dark:focus:ring-yellow-900"
        >
          EXPORT PDF
        </button>
      </div>
    </div>

    <div class="relative p-5 mt-5">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead class="text-xs text-gray-700 uppercase">
          <tr class="border-b-2">
            <th scope="col" class="px-3 py-3">No</th>
            <th scope="col" class="px-3 py-3">Faktor Kesebandingan</th>
            <th scope="col" class="px-3 py-3">Kategori</th>
            <th scope="col" class="px-3 py-3">Penjelasan</th>
            <th scope="col" class="px-3 py-3">Transaksi Afiliasi</th>
            <th scope="col" class="px-3 py-3">Transaksi Independent</th>
            <th scope="col" class="px-3 py-3">Keterangan</th>
            <th scope="col" class="px-3 py-3">No Halaman</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let threshold of dataThreshold; let i = index">
            <tr
              class="bg-gradient-to-r from-white to-blue-50 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <td
                scope="row"
                class="px-2 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ i + 1 }}
              </td>
              <td class="px-6 py-4 text-wrap">
                {{ threshold.faktor_description }}
              </td>
              <td class="px-6 py-4">{{ threshold.category_name }}</td>
              <td class="px-6 py-4">{{ threshold.question }}</td>
              <td class="px-6 py-4">
                <span *ngIf="threshold.transaksi_afiliasi === 1"
                  ><i
                    class="fa-solid fa-check bg-primary rounded-md p-2 text-white"
                  ></i
                ></span>
                <span *ngIf="threshold.transaksi_afiliasi === 0"></span>
              </td>
              <td class="px-6 py-4">
                <span *ngIf="threshold.transaksi_independent === 1"
                  ><i
                    class="fa-solid fa-check bg-primary rounded-md p-2 text-white"
                  ></i
                ></span>
                <span *ngIf="threshold.transaksi_independent === 0"></span>
              </td>
              <td class="px-6 py-4">{{ threshold.description }}</td>
              <td class="px-6 py-4">{{ threshold.no_halaman }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
